@font-face {
  font-family: "Roboto";
  src: url("src/../assets/fonts/Roboto/Roboto-Regular.ttf") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("src/../assets/fonts/Roboto/Roboto-Medium.ttf") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Roboto";
  src: url("src/../assets/fonts/Roboto/Roboto-Bold.ttf") format("woff2");
  font-weight: 700;
}
