.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  // background-color: #f8f9fa; // Light gray background (adjust as needed)
  text-align: center;

  // @include tablet {
  //   padding: 20px;
  // }

  // @include desktop {
  //   padding: 24px;
  // }

  p {
    margin: 0;
    font-size: 14px;

    // @include tablet {
    //   font-size: 16px;
    // }

    // @include desktop {
    //   font-size: 18px;
    // }

    span {
      font-weight: bold;
      color: #007bff; // Primary color (adjust to match your branding)
    }
  }
}
