@use "../src/styles/partials/mixins" as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding: 20px;
  }

  @include desktop {
    padding: 24px;
  }
  &__mascot {
    width: 50vw;
    height: auto;
    margin-bottom: 0.5rem;
    @include tablet {
      width: 20vw;
      height: auto;
    }
    @include desktop {
      width: 10vw;
      height: auto;
    }
  }

  &__name {
    margin: 0;
    font-size: 15px;

    @include tablet {
      font-size: 16px;
    }

    @include desktop {
      font-size: 18px;
    }
  }
  &__info {
    font-size: 13px;
    color: #007bff;
  }

  span {
    font-weight: bold;
    color: #007bff; // Primary color (adjust to match your branding)
  }
}
